@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

html {
	font-family: 'Public Sans',sans-serif;
	color: #025595;
	line-height: 1.5;

}

body {
	margin: 80px 0px 0px 0px;
	overflow: auto;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	color: black;
}

header {
	top: 0;
	margin-top: -80px;
	width: 100vw;
	height: 70px;
	position: sticky;
	background-color: #005596;
	box-shadow: 0 4px 4px 0px rgba(0,0,0,.2);
}

h1 {
	display: block;
	padding: 15px;
	margin: 30px 0;
	text-align: center;
}

nav {
	float: right;
	display: inline-block;
}

nav a {
	line-height: 70px;
	float: left;
	display: block;

	color: white;
	padding: 0px 10px;
	margin: 0px 0px 0px 10px;
	text-decoration: none;
	background-color: #005596;
}

nav a:hover {
	background-color: #FDB81F;
	color: white;
}

nav a:active {
	color: #005596;
}

.logo {
	padding: 10px;
    height: 50px;
    float: left;
}

button {
	visibility: hidden;
	display: none;
}

.main {
	display: block;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	margin: 10px 100px;

	flex: 1;
}

section {
	background-color: #F3F3F3;
	padding: 1px 20px;
	margin: 15px;
	overflow: hidden;
	vertical-align: baseline;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

	display: inline-block;
	width: calc(100% - 70px);
}

section h2 {
	text-align: center;
}

section img {
	margin: 25px 25px 25px 10px;
	float: left;
	width: 120px;
}

section p {
	padding: 15px 20px;
}

@media screen and (max-width: 1000px) {
	.logo {
		display: inline;
	}

	button {
		visibility: visible;
		display: inline;
		float: right;
		height: 70px;
		color: white;
		background: none;
		border: none;
		padding: 15px 20px;
		font-size: 15px;
	}

	button:hover {
		cursor: pointer;
		background-color: #FDB81F;
	}

	nav a {
		float: none;
		text-align: center;
		margin: 0;
	}

	nav {
		display: none;
		visibility: hidden;
		margin: 0;
	}

	.show {
		visibility: visible;
		display: inline-block;
		width: 100vw;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
	}
	.main {
		column-count: 1;
		margin: 10px;
	}
	section p {
		padding: 10px;
	}
	footer p {
		padding: 10px;
	}
}

footer {
	padding: 5px 20px;
	overflow: hidden;
	clear: both;
	background: #005596;
	bottom: 0;
}

footer p {
	width: 100%;
	text-align: center;
	color: white;
}