<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="assets/style.css">
		<script src="script.js"></script>
		<link rel="icon" href="https://www.choate.edu/uploaded/favicon-crh.ico">
	</head>
	<body>
		<header>
			<a href="index.html">
				<img src="assets/choatelogo.png" alt="logo" class="logo">
			</a>
			<button onClick="dropdownfunc()" class="dropdown" id="dropdown">╲╱</button>
			<nav id="topnav">
				{% for nav_element in navbar_items %}
					<a href="{{ nav_element[1] }}">{{ nav_element[0] }}</a>
				{% endfor %}
			</nav>
		</header>

		{% for element in html_tree %}
		{{ element | safe }}{% endfor %}

		<footer>
			<p>{{ footer }}</p>
		</footer>
	</body>

</html>
